# Macro Economics Indicators

**Autor:** Frederick Salazar Sanchez <br>
**Date:** March of 2025 <br>
**Description:** This notebook

In [88]:
import pandas as pd

In [89]:
df_pib = pd.read_csv('./data/in/countries_gdp_hist.csv',sep=';')

In [90]:
df_pib_per_capita = pd.read_csv('./data/in/pib_per_capita_countries_dataset.csv', sep=',')\
                      .drop(columns=['country_name',
                                     'region',
                                     'sub_region',
                                     'intermediate_region',
                                     'indicator_code',
                                     'indicator_name'])\
                      .rename(columns={'country_code':'country_code_percapita',
                                       'year':'year_percapita',
                                       'gdp_variation':'gdp_variation_percapita'})

In [91]:
df_exports = pd.read_csv('./data/in/export_goods_services_countries_dataset.csv', sep=',')\
                .drop(columns=['country_name',
                               'region',
                               'sub_region',
                               'intermediate_region',
                               'indicator_code',
                               'indicator_name'])\
                .rename(columns={'country_code':'country_code_exports',
                                 'year':'year_exports'})

In [92]:
df_inflation = pd.read_csv('./data/in/global_inflation_countries.csv', sep=',')\
                .drop(columns=['country_name',
                               'region',
                               'sub_region',
                               'intermediate_region',
                               'indicator_code',
                               'indicator_name'])\
                .rename(columns={'country_code':'country_code_inflation',
                                 'year':'year_inflation'})

In [93]:
df_imports = pd.read_csv('./data/in/import_goods_services_countries_dataset.csv', sep=',')\
                .drop(columns=['country_name',
                               'region',
                               'sub_region',
                               'intermediate_region',
                               'indicator_code',
                               'indicator_name'])\
                .rename(columns={'country_code':'country_code_imports',
                                 'year':'year_imports'})

# Creation a unique dataframe with all data

In [94]:
df_economics = pd.merge(df_pib, df_pib_per_capita,
                        left_on=['country_code', 'year'],
                        right_on=['country_code_percapita', 'year_percapita'],
                        how='left')\
                .merge(df_exports,
                       left_on=['country_code', 'year'],
                       right_on=['country_code_exports', 'year_exports'],
                       how='left')\
                .merge(df_imports,
                       left_on=['country_code', 'year'],
                       right_on=['country_code_imports', 'year_imports'],
                       how='left')\
                .merge(df_inflation,
                       left_on=['country_code', 'year'],
                       right_on=['country_code_inflation', 'year_inflation'],
                       how='left')\
                .drop(columns=['country_code_percapita',
                               'year_percapita',
                               'country_code_exports',
                               'year_exports',
                               'country_code_inflation',
                               'year_inflation',
                               'country_code_imports',
                               'year_imports'])

In [95]:
# Convertir las columnas numéricas de texto a float
cols_numericas = ["total_gdp", "total_gdp_million", "gdp_variation", 
                  "gdp_per_capita", "gdp_variation_percapita", 
                  "exports_of_goods_and_services", "imports_of_goods_and_services", "inflation_rate"]

df_economics[cols_numericas] = df_economics[cols_numericas].apply(pd.to_numeric, errors='coerce')

In [96]:
df_economics["country_name"] = df_economics["country_name"].mask(df_economics["country_code"] == "COD", "REPUBLIC DEMOCRATIC OF CONGO")

df_economics["country_name"] = df_economics["country_name"].mask(df_economics["country_code"] == "KOR", "REPUBLIC DEMOCRATIC OF KOREA")

df_economics["country_name"] = df_economics["country_name"].mask(df_economics["country_code"] == "MDA", "REPUBLIC OF MOLDOVA")

df_economics["country_name"] = df_economics["country_name"].mask(df_economics["country_code"] == "PSE", "STATE OF PALESTINE")

df_economics["country_name"] = df_economics["country_name"].mask(df_economics["country_code"] == "TZA", "UNITED REPUBLIC OF TANZANIA")

In [97]:
df_economics.dtypes

country_code                      object
region_name                       object
sub_region_name                   object
intermediate_region               object
country_name                      object
income_group                      object
year                               int64
total_gdp                        float64
total_gdp_million                float64
gdp_variation                    float64
gdp_per_capita                   float64
gdp_variation_percapita          float64
exports_of_goods_and_services    float64
imports_of_goods_and_services    float64
inflation_rate                   float64
dtype: object

In [98]:
df_economics[df_economics['country_code'] == 'COD']

,country_code,region_name,sub_region_name,intermediate_region,country_name,income_group,year,total_gdp,total_gdp_million,gdp_variation,gdp_per_capita,gdp_variation_percapita,exports_of_goods_and_services,imports_of_goods_and_services,inflation_rate
2432,COD,AFRICA,SUB-SAHARAN AFRICA,MIDDLE AFRICA,REPUBLIC DEMOCRATIC OF CONGO,PAÍSES DE INGRESO BAJO,1960,3.359404e+09,3359.404118,0.000000,220.074550,0.000000,0.000000,0.000000,0.000000
2433,COD,AFRICA,SUB-SAHARAN AFRICA,MIDDLE AFRICA,REPUBLIC DEMOCRATIC OF CONGO,PAÍSES DE INGRESO BAJO,1961,3.086747e+09,3086.746857,-10.851376,197.080395,-13.114065,0.000000,0.000000,0.000000
2434,COD,AFRICA,SUB-SAHARAN AFRICA,MIDDLE AFRICA,REPUBLIC DEMOCRATIC OF CONGO,PAÍSES DE INGRESO BAJO,1962,3.779841e+09,3779.841429,21.200698,235.127291,18.084302,0.000000,0.000000,0.000000
2435,COD,AFRICA,SUB-SAHARAN AFRICA,MIDDLE AFRICA,REPUBLIC DEMOCRATIC OF CONGO,PAÍSES DE INGRESO BAJO,1963,6.213186e+09,6213.185743,5.213990,376.383370,2.461361,0.000000,0.000000,0.000000
2436,COD,AFRICA,SUB-SAHARAN AFRICA,MIDDLE AFRICA,REPUBLIC DEMOCRATIC OF CONGO,PAÍSES DE INGRESO BAJO,1964,2.881545e+09,2881.545273,-2.440224,169.949260,-5.016419,0.000000,0.000000,35.421065
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2491,COD,AFRICA,SUB-SAHARAN AFRICA,MIDDLE AFRICA,REPUBLIC DEMOCRATIC OF CONGO,PAÍSES DE INGRESO BAJO,2019,5.177583e+10,51775.829877,4.384529,557.044161,1.127914,25.867665,29.367493,0.000000
2492,COD,AFRICA,SUB-SAHARAN AFRICA,MIDDLE AFRICA,REPUBLIC DEMOCRATIC OF CONGO,PAÍSES DE INGRESO BAJO,2020,4.871696e+10,48716.961860,1.735423,507.521230,-1.489244,28.604952,29.886806,0.000000
2493,COD,AFRICA,SUB-SAHARAN AFRICA,MIDDLE AFRICA,REPUBLIC DEMOCRATIC OF CONGO,PAÍSES DE INGRESO BAJO,2021,5.532848e+10,55328.482784,6.200154,558.034077,2.816565,40.385830,40.095482,0.000000
2494,COD,AFRICA,SUB-SAHARAN AFRICA,MIDDLE AFRICA,REPUBLIC DEMOCRATIC OF CONGO,PAÍSES DE INGRESO BAJO,2022,6.580155e+10,65801.547620,8.924448,642.612266,5.469360,45.497950,48.230717,0.000000
2495,COD,AFRICA,SUB-SAHARAN AFRICA,MIDDLE AFRICA,REPUBLIC DEMOCRATIC OF CONGO,PAÍSES DE INGRESO BAJO,2023,6.638329e+10,66383.287003,8.560863,627.502182,NaN,44.245990,47.015275,0.000000

# save Proccessed File to csv

In [99]:
df_economics.to_csv('./data/out/macro_economics_indicators.csv', index=False, float_format="%.2f", sep=';', decimal=',')

In [103]:
df_inflation[df_inflation['country_code_inflation'] == 'ARG'].head(60)

    country_code_inflation  year_inflation  inflation_rate
512                    ARG            1960             0.0
513                    ARG            1961             0.0
514                    ARG            1962             0.0
515                    ARG            1963             0.0
516                    ARG            1964             0.0
517                    ARG            1965             0.0
518                    ARG            1966             0.0
519                    ARG            1967             0.0
520                    ARG            1968             0.0
521                    ARG            1969             0.0
522                    ARG            1970             0.0
523                    ARG            1971             0.0
524                    ARG            1972             0.0
525                    ARG            1973             0.0
526                    ARG            1974             0.0
527                    ARG            1975             0.0
528                    ARG            1976             0.0
529                    ARG            1977             0.0
530                    ARG            1978             0.0
531                    ARG            1979             0.0
532                    ARG            1980             0.0
533                    ARG            1981             0.0
534                    ARG            1982             0.0
535                    ARG            1983             0.0
536                    ARG            1984             0.0
537                    ARG            1985             0.0
538                    ARG            1986             0.0
539                    ARG            1987             0.0
540                    ARG            1988             0.0
541                    ARG            1989             0.0
542                    ARG            1990             0.0
543                    ARG            1991             0.0
544                    ARG            1992             0.0
545                    ARG            1993             0.0
546                    ARG            1994             0.0
547                    ARG            1995             0.0
548                    ARG            1996             0.0
549                    ARG            1997             0.0
550                    ARG            1998             0.0
551                    ARG            1999             0.0
552                    ARG            2000             0.0
553                    ARG            2001             0.0
554                    ARG            2002             0.0
555                    ARG            2003             0.0
556                    ARG            2004             0.0
557                    ARG            2005             0.0
558                    ARG            2006             0.0
559                    ARG            2007             0.0
560                    ARG            2008             0.0
561                    ARG            2009             0.0
562                    ARG            2010             0.0
563                    ARG            2011             0.0
564                    ARG            2012             0.0
565                    ARG            2013             0.0
566                    ARG            2014             0.0
567                    ARG            2015             0.0
568                    ARG            2016             0.0
569                    ARG            2017             0.0
570                    ARG            2018             0.0
571                    ARG            2019             0.0